pre.src {
    font-family: Inconsolata;
    font-size: 95%;
    color: #93a1a1;
    background-color: #002b36;
    padding: 2px;
    border: #a7a7a7 1px solid;
    line-height: 120%
}

div.src { 
    border: #a7a7a7 1px solid;
    background-color: #002b36;
    padding: 2px;
    overflow: auto;
 }

div.src {
    font-family: Inconsolata;
    font-size: 95%;
    color: #93a1a1;
    padding: 0px;
    line-height: 120%;
    margin: 0px;
}

div.src p {
    font-family: Inconsolata;
    font-size: 95%;
    color: #93a1a1;
    padding: 0px;
    line-height: 120%;
    margin: 0px;
}